---

---

<section class="flex flex-col items-center justify-center py-10">
	<div>
		<img src="astro.png" alt="Astro Logo Brand" />
	</div>
	<div class="mt-10">
		<p class="text-5xl font-bold uppercase text-vamp">
			<span class="text-8xl text-orange-600">404</span> PAGE NOT FOUND
		</p>
	</div>
	<div class="mt-10">
		<button class="btn">
			<a href="./"><i>back</i></a>
		</button>
	</div>
</section>
