---
import { BiBowlRice, BiCoffee, BiPlanet } from 'react-icons/bi'
---

<footer class="mt-5 flex flex-col items-center justify-center bg-base-300 p-10 text-base-content">
	<div class="flex items-center">
		<img src="logo.png" alt="cryptosucks logo brand" class="h-16 w-16" />

		<p class="font-sun text-lg font-normal text-lavender">
			Provided by
			<a
				href="http://https://www.linkedin.com/company/96474981"
				target="_blank"
				rel="noopener noreferrer"
				><span class="text-lavender-alt md:hover:text-aqua"> BlockchainSucks.blockchain.</span></a
			>
		</p>
	</div>
	<div class="font-semibold uppercase">
		<p>No rights reserved</p>
	</div>
	<div class="flex items-center justify-center py-6">
		<p class="text-center font-main text-xl font-normal text-pink-300 md:w-[60%]">
			We don't track you, collect your data, or use any other snoopy gadgets. It's just us, keeping
			it cool, clean, and carefree!
		</p>
	</div>
	<div class="mt-5">
		<ul class="flex gap-10">
			<a href="./"
				><li
					class="flex items-center justify-start gap-2 font-main text-md font-normal text-white-alt duration-300 md:hover:scale-105 md:hover:text-aqua"
				>
					<BiBowlRice /> Home
				</li></a
			>
			<a href="/crypto"
				><li
					class="flex items-center justify-start gap-2 font-main text-md font-normal text-white-alt duration-300 md:hover:scale-105 md:hover:text-aqua"
				>
					<BiPlanet /> CryptoWorld
				</li></a
			>
			<a href="/news"
				><li
					class="flex items-center justify-start gap-2 font-main text-md font-normal text-white-alt duration-300 md:hover:scale-105 md:hover:text-aqua"
				>
					<BiCoffee /> FreshNews
				</li></a
			>
		</ul>
	</div>
</footer>
