---

---

<footer class="mt-5 flex flex-col items-center justify-center bg-base-300 p-10 text-base-content">
	<div class="md:flex md:items-center">
		<div class="flex justify-center self-center md:inline">
			<img src="logo.png" alt="cryptosucks logo brand" class="h-[6rem] w-[6rem]" />
		</div>

		<p class="text-center font-sun text-lg font-normal text-lavender md:text-left">
			Provided by
			<a
				href="http://https://www.linkedin.com/company/96474981"
				target="_blank"
				rel="noopener noreferrer"
				><span class="text-lavender-alt md:hover:text-aqua"> BlockchainSucks.blockchain.</span></a
			>
		</p>
	</div>
	<div class="mt-2 font-semibold uppercase md:mt-0">
		<p>No rights reserved</p>
	</div>
	<div class="flex items-center justify-center py-6">
		<p class="text-center font-main text-lg font-normal text-pink-300 md:w-[60%] md:text-xl">
			We don't track you, collect your data, or use any other snoopy gadgets. It's just us, keeping
			it cool, clean, and carefree!
		</p>
	</div>
	<div class="mt-5">
		<ul class="flex gap-5 md:gap-10">
			<a href="/"
				><li
					class="flex items-center justify-start gap-2 font-main text-md font-normal text-white-alt duration-300 md:hover:scale-105 md:hover:text-aqua"
				>
					<iconify-icon icon="bx:bowl-rice"></iconify-icon> Home
				</li></a
			>
			<a href="/crypto"
				><li
					class="flex items-center justify-start gap-2 font-main text-md font-normal text-white-alt duration-300 md:hover:scale-105 md:hover:text-aqua"
				>
					<iconify-icon icon="mingcute:planet-line"></iconify-icon> CryptoWorld
				</li></a
			>
			<a href="/news"
				><li
					class="flex items-center justify-start gap-2 font-main text-md font-normal text-white-alt duration-300 md:hover:scale-105 md:hover:text-aqua"
				>
					<iconify-icon icon="iconamoon:news-bold"></iconify-icon> FreshNews
				</li></a
			>
		</ul>
	</div>
</footer>
