---
import { BiBowlRice, BiCoffee, BiPlanet, BiSprayCan } from 'react-icons/bi'
---

<section>
	<div class="desktop hidden items-center justify-between md:flex">
		<div>
			<a href="./">
				<span class="flex items-center"
					><img src="/edition.png" alt="logo" class="h-20 w-20" />
					<h1 class="font-sun text-2xl font-bold text-lavender">CryptoSucks</h1></span
				>
			</a>
		</div>
		<div class="hidden gap-5 pr-10 md:flex">
			<a href="./">
				<span
					class="flex items-center justify-start gap-2 font-main text-xl font-normal text-white-alt duration-300 hover:scale-90 hover:text-lavender"
				>
					<BiBowlRice /> Home
				</span>
			</a>
			<a href="/crypto"
				><span
					class="flex items-center justify-start gap-2 font-main text-xl font-normal text-white-alt duration-300 hover:scale-90 hover:text-lavender"
				>
					<BiPlanet /> CryptoWorld
				</span></a
			>
			<a href="/news"
				><span
					class="flex items-center justify-start gap-2 font-main text-xl font-normal text-white-alt duration-300 hover:scale-90 hover:text-lavender"
				>
					<BiCoffee /> FreshNews
				</span></a
			>
		</div>
	</div>

	<div class="mobile flex justify-between md:hidden">
		<div>
			<a href="./">
				<span class="flex items-center"
					><img src="/edition.png" alt="logo" class="h-[4rem] w-[4rem]" />
					<h1 class="font-sun text-xl font-bold text-lavender">CryptoSucks</h1></span
				>
			</a>
		</div>
		<div class="flex items-center md:hidden">
			<details class="dropdown dropdown-end">
				<summary class="btn m-1 text-lavender"><BiSprayCan size={'1.2rem'} /></summary>
				<ul class="menu dropdown-content rounded-box z-[1] w-52 bg-base-100 p-2 shadow-xl">
					<li>
						<a href="./">
							<span
								class="flex items-center justify-start gap-2 font-main text-lg font-normal text-white-alt"
							>
								<BiBowlRice /> Home
							</span>
						</a>
					</li>
					<li>
						<a href="/crypto"
							><span
								class="flex items-center justify-start gap-2 font-main text-lg font-normal text-white-alt"
							>
								<BiPlanet /> CryptoWorld
							</span></a>
					</li>
					<li>
						<a href="/news"
							><span
								class="flex items-center justify-start gap-2 font-main text-lg font-normal text-white-alt"
							>
								<BiCoffee /> FreshNews
							</span></a>
					</li>
				</ul>
			</details>
		</div>
	</div>
</section>
