---
import BaseHead from '../components/BaseHead.astro'
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
interface Props {
	title: string
	description: string
	keywords: string
}

const { title, description, keywords } = Astro.props
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={title} description={description} keywords={keywords} />
	</head>
	<body>
		<div
			class="max-w-980 md:h-[calc(100vh - 40px)] mx-auto h-screen w-full px-2 md:w-[80%] md:px-0"
		>
			<nav>
				<Navbar />
			</nav>
			<slot />
			<footer>
				<Footer />
			</footer>
		</div>
	</body>
</html>
